<div class="container-fluid bg-primary text-white py-3">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="row">
        <div class="col-md-9">
          <p class="mb-0">INFORMACION ACERCA DE COVID 19 - ESTADOS UNIDOS</p>
        </div>
        <div class="col-md-3 text-right">
          <a href="#" class="btn btn-outline-light">Más información</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-0" style="display: flex">
  <img
    src="https://cloudfront-us-east-2.images.arcpublishing.com/reuters/ABNK74TBDRI2NMSG3F6YWJFLCE.jpg"
    class="img-fluid"
    alt="Banner"
    style="max-width: 30%; margin: 20px auto"
  />
</div>

<div class="contenedor-fecha">
  <input
    class="input-fecha"
    type="date"
    [(ngModel)]="fecha"
    min="2020-01-01"
    max="2021-03-07"
    (change)="searchInfo()"
  />
</div>

<div class="card" style="max-width: 35%; margin: 25px auto" *ngIf="datosObtenidos">
  <div class="card-header">
    <h4>Fecha: {{datosObtenidos.dateChecked | date}}</h4>
  </div>
  <div class="card-body">
    <div class="campo">
      <strong> <span class="campo-titulo">Incremento positivos: </span> </strong>
      <span class="campo-valor">{{datosObtenidos?.positiveIncrease | number}}</span>
    </div>
    <hr />
    <div class="campo">
      <strong> <span class="campo-titulo">Positivos totales: </span> </strong>
      <span class="campo-valor">{{datosObtenidos?.positive | number}}</span>
    </div>
    <hr />
    <div class="campo">
      <strong> <span class="campo-titulo">Incremento de Muertos: </span> </strong>
      <span class="campo-valor">{{datosObtenidos?.deathIncrease | number}}</span>
    </div>
    <hr />
    <div class="campo">
      <strong> <span class="campo-titulo">Muertos Totales: </span> </strong>
      <span class="campo-valor">{{datosObtenidos?.death | number}} </span>
    </div>
    <hr />
    <div class="campo">
      <strong> <span class="campo-titulo">Hospitalizados Actualmente: </span> </strong>
      <span class="campo-valor">{{datosObtenidos?.hospitalizedCurrently | number}}</span>
    </div>
    <hr />
    <div class="campo">
      <strong> <span class="campo-titulo">Hospitalizados Totales: </span> </strong>
      <span class="campo-valor">{{datosObtenidos?.hospitalizedCumulative | number}}</span>
    </div>
  </div>
</div>
